body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display:flex;
}

*, *::before, *::after {
    box-sizing: border-box;
  }



.main-layout-split{
    display:flex;
    gap:20px;
    width:100%;

}  


.content-area{
    border: red solid 1px;
    

    

}

/* places shop and carrot count next to each other */
.currency-header{
    display:flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 3rem;
}

.stat-box{
    border: red solid 1px;
    padding: 10px;
    gap: 1rem;
    border-radius: 2rem;
    margin-bottom: 1rem;

}

.character-section{
    height: 550px;
    width: 400px;
    border: red solid 1px;
    display:flex;
    flex-direction:column;
    gap:15px;
    /* padding-top: 10%; */
    padding: 30px 30px 30px 30px;
    /* justify-content:flex-start; */


}

.exp-container{
    border: red solid 1px;

}

.stats-container{
    display:grid;
    padding: 1rem;
    
}

.stats-section{
    border: red solid 1px;
    background-color: rgb(241, 238, 238);
    display: grid;
    gap: 10px;
    width: 75%;
    padding: 1rem;
    height: 100%;

}



.chat-container{
    border: red solid 1px;
    display:flex;
    text-align:center;
    align-items:center;
    font-family: "Chewy", system-ui;
    font-size: 1.5rem;
    justify-content: space-between;
    padding: 1rem;
    gap: 5px;
    padding: 0 1rem;
    

}


.text-box{
    background-color: white;
    padding: 1rem;
    width: 80%;
    margin: 0 auto;
    border-radius: 2rem;
    border: red solid 1px;
    overflow:hidden;
}

#fairy{
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    object-fit:cover;
}





footer{
    background-color: #E6A055;
    margin-top:auto;
    width: 100%;
    position:absolute;
    bottom: 0;
    padding: 1.5rem 0;
}