body{
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    height: 100vh;
    background-color: #CEEAF6;
}
#selection-screen{
    display:flex;
    flex-direction:column;
    align-items: center;
    font-family: "Chewy", system-ui;
    text-shadow: 2px 4px 3px rgb(83, 79, 79);
    font-weight: 400;
    font-size: 1.5rem;
    color: #E6A055;
    gap:20px;
    margin-bottom: 40px;
}

.content{
    align-items:center;
    justify-content:space-around;
    display:flex;
    gap: 5px;
    padding: 1rem;
    flex-direction:row;
}

.content img {
    width: 100%;
    height: 300px;
    width: auto;
    gap: 1rem;
    padding: .2rem;
    z-index:999; 
    transition: transform 0.3s ease-in-out;
}


.content img:hover, .content img:focus{
    transform: scale(1.15);

}

