html,body{
    height:100%;
    margin: 0; 
}

 body { 
    margin: 0; 
    padding: 0; 
} 
 *, *::before, *::after {
     box-sizing: border-box; 
    }
 

 .page{ 
    height: 100vh;
    width: 100%;
    display:grid; 
    grid-template-rows: 1fr auto;
    } 
 
 
 .main-layout-split{ 
    display:grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
    height: 100%; 
    width: 100%;
    gap:20px;
    padding: 20px; 
    overflow: hidden; 
    min-height: 0; 
    align-items: stretch; }
 
 .content-area, .stats-section{
    overflow: auto; 
    height: 100%;
    width: 100%;
 }
 
 .content-area{  
    grid-column: 1/-1;
    display:flex;
    flex-direction:row;
    width: 100%;
    gap: 20px;
    
  
 } 
 
 /* places shop and carrot count next to each other */
  .currency-header{
    display:flex;
    justify-content: center; 
    gap: 1rem; 
    margin-bottom: 3rem; 
} 
  
  .shop-btn, .carrot-count{
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background: white; 
    width: 100px; 
    cursor:pointer; 
} 

.shop-btn:hover, .carrot-count:hover{
   background-color: rgb(184, 184, 184);
   cursor:pointer;
} 

  
  .stat-box{
    border: red solid 1px;
    padding: 10px;
    gap: 2rem;
    height: 200px;
    border-radius: 2rem;
    margin-bottom: 1rem; }
  
  .character-section{
    min-height: 550px;
    flex:1;
    width: 100%;
    border: red solid 1px;
    display:flex;
    flex-direction:column;
    gap:15px; 
    padding: 30px; }
  
 
  .exp-label{
    font-weight: 800; 
    letter-spacing: 0.5px;
 }

   /* .exp-container{ flex: 1; height: 20px; border-radius: 999px; overflow: hidden; } */ /* .exp-fill{ height: 100; width: 60%; background:lightgreen; border-radius: 999px; } */
   
   .stats-container{ 
    display:grid;
    gap: 1rem;
    padding: 1rem;
   }

  .stats-section{
    border: red solid 1px;
    background-color: rgb(241, 238, 238);
    display:flex;
    flex-direction: column;
    flex: 1;
    width: 100%; 
    gap: 10px;
    padding: 2rem; }
   
   
   .chat-container{ 
    border: red solid 1px;
    display:flex; text-align:center;
    align-items:center;
    font-family: "Chewy", system-ui;
    font-size: 1.5rem;
    justify-content: space-between;
    padding: 1rem;
    gap: 5px;
    padding: 0 1rem; }
   
   .text-box{ background-color: white;
    padding: 1rem; width: 80%;
    margin: 0 auto;
    border-radius: 2rem;
    border: red solid 1px;
    overflow:hidden; 
    } 
   
   
   #fairy{ border-radius: 50%;
    width: 8rem;
    height: 8rem;
    object-fit:cover;
    } 

#bunny-character{
    max-width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: contain;

    }























footer{ background-color: #E6A055; margin-top:auto; width: 100%; /* position:absolute; bottom: 0; */ padding: 1.5rem 0; }