body{
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;

    /* background-color: #F5EAEA!important; */
;
}

#selection-screen{
    display:flex;
    flex-direction:column;
    align-items: center;
    font-family: 'Bungee', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #E4AB7F;
    text-shadow: 2px 4px 3px rgb(83, 79, 79);
    gap:20px;
    margin-bottom: 40px;
}
h1 {
  font-size: 55px!important;
}

p {
    color: black!important;
    font-family: 'Bungee', sans-serif;
}

/* Egg styling */

.eggs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.egg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

/* Prevent buttons from stretching */
.egg-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Force the egg images to stay small */
.egg-btn img {
    width: 240px;      /* adjust size here */
    height: 240px;
    object-fit: contain;
    display: block;
}

form {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.egg-img:hover {
    transform: scale(1.08);
}



/* From Uiverse.io by satyamchaudharydev */ 
/* Button */
.btn {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.btn:hover .icon {
  transform: translate(4px);
}

.btn:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.btn::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}
