body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
}

.statistic {
    font-size: 55px;
    font-family: 'Bungee', sans-serif;
    color: #E4AB7F;
    text-shadow: 2px 4px 3px rgb(83, 79, 79);
}

.subtitle {
    font-size: 58px;
    font-family: 'Bungee', sans-serif;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;   /* horizontal centering */
    justify-content: center; /* vertical centering */
    text-align: center;
}

a {
    color: black!important;
}

p {
    color: black;
    font-family: 'Bungee', sans-serif; ;
}