body {
    background-image: url(../img/background.jpg);
    background-color: #f8f1f1;
    background-size: cover;
    background-position: center;
}

.title {
    font-size: 128px;
    font-family: 'Bungee', sans-serif;
    color: #E4AB7F;
    text-shadow: 2px 4px 3px rgb(83, 79, 79);
}

.lead {
    font-size: 80px;
    font-family: 'Bungee', sans-serif;
    color: black;
}

