body {
    background-image: url(../img/background.jpg);
    background-color: #f8f1f1;
    background-size: cover;
    background-position: center;
}

.title {
    font-size: 128px!important;
    font-family: 'Bungee', sans-serif;
    color: #E4AB7F;
    text-shadow: 2px 4px 3px rgb(83, 79, 79);
}

.lead {
    font-size: 80px;
    font-family: 'Bungee', sans-serif;
    color: black;
}

a {
    color: black!important;
}


p {
    color: black;
    font-family: 'Bungee', sans-serif; ;
}


/* From Uiverse.io by satyamchaudharydev */ 
/* Button */
.btn {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.btn:hover .icon {
  transform: translate(4px);
}

.btn:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.btn::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

/* Money falling animation */
.money-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: -1;
}

.loader span {
    position: absolute;
    top: -150px;
    width: 80px;
    height: 80px;
    background-image: url(../img/money.png);
    background-size: contain;
    animation: fall 2s linear forwards;
}

.loader span:nth-child(1) { left: 10%; animation-delay: 0s; } 
.loader span:nth-child(2) { left: 25%; animation-delay: 0.3s; } 
.loader span:nth-child(3) { left: 40%; animation-delay: 0.6s; } 
.loader span:nth-child(4) { left: 55%; animation-delay: 0.9s; } 
.loader span:nth-child(5) { left: 70%; animation-delay: 1.2s; } 
.loader span:nth-child(6) { left: 85%; animation-delay: 1.5s; } 
.loader span:nth-child(7) { left: 50%; animation-delay: 1.8s; } 
.loader span:nth-child(8) { left: 30%; animation-delay: 2.1s; }

@keyframes fall {
    0% {
        transform: translateY(-200px) rotate(0deg);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        transform: translateY(110vh) rotate(360deg);
        opacity: 0;
    }
}
