body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
}

.statistic {
    font-size: 55px;
    font-family: 'Bungee', sans-serif;
    color: #E4AB7F;
    text-shadow: 2px 4px 3px rgb(83, 79, 79);
}

.subtitle {
    font-size: 58px;
    font-family: 'Bungee', sans-serif;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;   /* horizontal centering */
    justify-content: center; /* vertical centering */
    text-align: center;
}

a {
    color: black!important;
}

p {
    color: black;
    font-family: 'Bungee', sans-serif; ;
}


/* From Uiverse.io by satyamchaudharydev */ 
/* Button */
.btn {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.btn:hover .icon {
  transform: translate(4px);
}

.btn:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.btn::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}
